
<sb-layout-dashboard>
    <div>
      <div class="row justify-content-between mb-3 mt-4">
        <div class="col-sm-4" > 
  
          <h4>Comapny Product</h4>
          <!-- {{getHighlights}} -->
        </div>
  
        <div class="col-sm-4 d-flex flex-row-reverse">
          <button pButton type="button" icon="pi pi-plus-circle" label="Add Accessories"
            class="p-button-secondary p-button-sm"></button>
        </div>
      </div>
      <div class="container">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Accessories Name</label>
              <input type="text" class="form-control" placeholder="Enter Accessories Name">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Total Storage</label>
              <input type="text" class="form-control" placeholder="Enter Storage">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  
  
  
     
    
    
    
    
    
      <p-toast></p-toast>
      <p-confirmPopup></p-confirmPopup>
    
    </sb-layout-dashboard>