<sb-layout-dashboard>
    <p-toast></p-toast>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center">Change Password</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Old Password</label><span
                                            style="color:red;size:5px;">*</span>
                                        <input class="form-control" formControlName="oldPassword" id="inputPassword"
                                            type="password" placeholder="Enter password" />
                                        <div
                                            *ngIf="submitted ||  f.oldPassword?.errors && (f.oldPassword?.dirty || f.oldPassword?.touched)">
                                            <div class="password-valid" *ngIf="f.oldPassword?.errors?.required">Old
                                                Password is Required!</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword">New Password</label><span
                                            style="color:red;size:5px;">*</span>
                                        <input class="form-control" formControlName="newPassword"  minlength="6"
                                            minlength="6" placeholder="New password" />
                                        <div
                                            *ngIf="submitted || f.newPassword?.errors && (f.newPassword?.dirty || f.newPassword?.touched)">
                                            <div class="password-valid" *ngIf="f.newPassword?.errors?.required">New
                                                Password is Required!</div>
                                            <div class="password-valid" *ngIf="f.newPassword?.errors?.minlength">
                                                Required minimum lenght is 6</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password
                                            <!-- {{f.confirmPassword.errors?.mustMatch}}-->
                                        </label><span style="color:red;size:5px;">*</span>
                                        <input class="form-control" formControlName="confirmPassword" type="password"
                                            placeholder="Confirm password" />
                                        <div
                                            *ngIf="submitted ||  f.confirmPassword?.errors && (f.confirmPassword?.dirty || f.confirmPassword?.touched)">
                                            <div class="password-valid" *ngIf="f.confirmPassword?.errors?.required">
                                                Confirm the Password!
                                            </div>
                                            <div class="password-valid" *ngIf="f.confirmPassword?.errors?.mustMatch">New
                                                Password and Confirm Passsword Should Match!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>