<footer class="py-2 bg-light mt-auto ">
    <div class="container-fluid ">
        <div class="content-box">
            <div class="row d-flex align-items-center justify-content-between small">
                <div class="col-sm-8">
                    <div class="text-muted">Copyright © {{currentYear}} Assimilate Technologies – All Rights Reserved.
                    </div>
                </div>
                <div class="col-sm-4 justify-content-between" style="display: flex;">
                    <div><a href="#">Privacy Policy &middot;</a><a href="#">Terms &amp; Conditions</a></div>
                    <p> App version : {{version}}</p>

                </div>
            </div>
        </div>
    </div>
</footer>