<sb-layout-dashboard>
  <ng-container *ngIf="(sharedPermission.todos$ | async) as todo">
    <ng-container *ngIf=" todo && todo[enumModule.Project_Tasks]">
      <div *ngIf="!isAddProjectTask">
        <div class="row justify-content-between mb-3 mt-4 p-3">
          <div class="col-sm-4 row">
            <h4> Project Task List({{getTask?.length ||'0'}})</h4>
          </div>
          <div class="col-sm-4 d-flex flex-row-reverse">
            <button pButton type="button" icon="pi pi-plus-circle" label="Add Project Task"
              *ngIf="todo[enumModule.Project_Tasks][enumPer.ADD]" class="p-button-secondary p-button-sm"
              (click)="AddProjectTask()"></button>
          </div>
          <p-table [columns]="[]" [value]="getTask" styleClass="p-datatable-responsive-demo"
            class="table mt-2 table-striped" [rowsPerPageOptions]="rowsPerPageOptions" [paginator]="true" [rows]="10"
            styleClass="p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="th-bgcolour">Project Name</th>
                <th class="th-bgcolour">Projects Task </th>
                <th class="center-item th-bgcolour">Priorities</th>
                <th class="center-item th-bgcolour">Working Hours</th>
                <th class="th-bgcolour ">Action</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{item.projectName}}</td>
                <td><a
                    [routerLink]="['/dashboard/project-task-details',{'id':item.projectsTaskId,proId:item.projectId} ]">{{item.projectsTaskType}}</a>
                </td>
                <td class="center-item">{{item.prorities}}</td>
                <td class="center-item">{{item.workingHours}}</td>
                <td>
                  <i (click)="onUpdate(item)"
                    *ngIf="item.projectsTaskId!=0 && todo[enumModule.Project_Tasks][enumPer.EDIT]" 
                    class="fa fa-edit " pTooltip="Edit"
                    style="font-size:20px">
                </i> &nbsp;

                <i (click)="onDeleted($event,item)" [hidden]="isDeleteHide"
                    *ngIf="todo[enumModule.Project_Tasks][enumPer.DELETE]"
                    class="pi pi-times-circle text-center icon icon-delete" pTooltip="Delete" tooltipPosition="top"></i>

                </td>
            
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="container" *ngIf="isAddProjectTask">
        <div class="row justify-content-center ">
          <div class="col-lg-10">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">

                <h3 class="text-center">Project Task Details</h3>
              </div>
              <div class="card-body">
                <form [formGroup]="ProjectTaskForm">
                  <div>
                    <div class="form-row">
                      <div class="col-12">
                        <div class="form-group"><label class="mb-1" for="projectName">Project Name</label><span
                            style="color:red;size:5px;">*</span>
                          <ng-select name="projectName" [items]="GetProjectData" bindLabel="projectName"
                            bindValue="projectId" [ngClass]="{ 'is-invalid': submitted && f.projectId.errors }"
                            formControlName="projectId">
                          </ng-select>
                          <div *ngIf="submitted && f?.projectId?.errors">
                            <span *ngIf="f?.projectId?.errors?.required" class="error-msg small">project name is
                              required.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group"><label name="projectsTaskType" class="mb-1"
                            for="projectsTaskType">Projects
                            Task </label><span style="color:red;size:5px;">*</span>
                          <input autocomplete="off" class="form-control " id="projectsTaskType"
                            formControlName="projectsTaskType" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.projectsTaskType.errors }" />
                          <div *ngIf="submitted && f?.projectsTaskType?.errors">
                            <span *ngIf="f?.projectsTaskType?.errors?.required" class="error-msg small">projects Task
                              Type
                              is
                              required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group"><label class="mb-1" for="prorities">Priorities</label><span
                            style="color:red;size:5px;">*</span>
                          <select autocomplete="off" class="form-control " formControlName="prorities" id="prorities"
                            [ngClass]="{ 'is-invalid': submitted && f.prorities.errors }" type="text"
                            placeholder="Select Priorities">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                          <div *ngIf="submitted && f?.prorities?.errors">
                            <span *ngIf="f?.prorities?.errors?.required" class="error-msg small">Priorities
                              required.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group"><label name="projectsTaskType" class="mb-1"
                            for="projectsTaskType">Project
                            Task Description </label><span style="color:red;size:5px;">*</span>
                          <textarea autocomplete="off" class="form-control " id="projectsTaskType"
                            formControlName="projectDescription" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.projectsTaskType.errors }"></textarea>
                          <div *ngIf="submitted && f?.projectDescription?.errors">
                            <span *ngIf="f?.projectDescription?.errors?.required" class="error-msg small">Project Task
                              Description is
                              required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="mb-1" for="workingHours">Working Hours</label><span
                            style="color:red;size:5px;">*</span><input autocomplete="off" maxlength="5"
                            class="form-control " id="workingHours" formControlName="workingHours" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.workingHours.errors }"
                            (keypress)="numberOnly($event)" />
                          <div *ngIf="submitted && f.workingHours.errors" class="error-msg small">
                            <div *ngIf="f.workingHours.errors?.required">Number is required.</div>
                            <div *ngIf="f.workingHours.errors?.max">Max hours is 15</div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div style="text-align: center;">

                      <button type="button" *ngIf="!isUpdateProjectTask" pButton class="p-button-success float-right "
                        (click)="onSubmit()">Save</button>
                      <button type="button" *ngIf="isUpdateProjectTask" class="btn btn-primary float-right"
                        (click)="UpdateTask()">Update</button> &nbsp;&nbsp;
                      <button type="button" (click)="onBackToList(false)" pButton
                        class="p-button-warning float-left">Back
                        To
                        List</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-toast></p-toast>
      <p-confirmPopup></p-confirmPopup>
    </ng-container>
  </ng-container>

</sb-layout-dashboard>