.td {
    text-align: center;
}
.center-item {
    text-align: center !important;
}
:host ::ng-deep {
    .th-bgcolour{
        background-color:#24a0ed !important;color: #fff !important;
    }
     
     
 }